<div>
  <app-title>Przeglądarka klas</app-title>
  <div class="flex flex-col mx-[15%] h-[75vh]">
    <div class="flex flex-row justify-between text-3xl mx-[10%]">
      <span>Nazwa klasy</span>
      <span>Lista uczniów</span>
    </div>
    <div class="overflow-y-auto">
      <div *ngFor="let klasa of data" class="flex flex-row justify-between my-6 mx-[7%]">
          <div class="flex flex-row items-start ml-[8%]">
            <span *ngIf="!editMode">{{ klasa.klasa }}</span>
            <div class="flex flex-row justify-center items-center">
              <edytuj-klase *ngIf="editMode" [id]="klasa._id" [name]="klasa.klasa" [refreshData]="refreshData"/>
              <mat-icon *ngIf="editMode" class="cursor-pointer ml-2" (click)="deleteKlasa(klasa._id)">delete</mat-icon>
            </div>
          </div>
          <div class="flex flex-col items-end">
            <dodaj-ucznia *ngIf="editMode" [id]="klasa._id" [refreshData]="refreshData"/>
            <div *ngFor="let uczen of klasa.lista" class="m-2 w-92 flex flex-row justify-center items-center">
              <span *ngIf="!editMode">{{ uczen.imie }} {{ uczen.nazwisko }}</span>
              <div *ngIf="editMode" class="flex flex-row justify-center items-center">
                <edytuj-ucznia [id]="uczen._id" [imie]="uczen.imie"
                               [nazwisko]="uczen.nazwisko" [refreshData]="refreshData"/>
                <mat-icon class="cursor-pointer ml-2" (click)="deleteUczen(uczen._id)">delete</mat-icon>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="absolute bottom-0 right-0 flex flex-row items-center">
    <span>Naciśnij, aby włączyć tryb edycji:</span> <mat-icon class="m-4 font-4xl cursor-pointer" (click)="editMode = !editMode">edit</mat-icon>
  </div>

</div>
