<div class="w-screen h-screen bg-lime-100 dark:bg-gray-800 overflow-hidden">
  <header class="flex flex-col items-center">
    <h1 class="text-7xl m-auto text-yellow-600">Złota klasa</h1>
    <h2 class="text-2xl text-yellow-500">Przeglądaj, edytuj i usuwaj swoje klasy</h2>
  </header>
  <app-navbar class="text-gray-800 dark:text-gray-300"/>
  <main class="w-screen h-5/6 items-center text-xl text-gray-800 dark:text-gray-300 mt-4">
    <router-outlet></router-outlet>
  </main>
  <footer>
    <div class="flex flex-col items-center">
      <p class="text-gray-800 dark:text-gray-300">Made by Michał Szajner</p>
    </div>
  </footer>
</div>
